/*merchandise_detail.php*/
.header_log{
    margin-left: 32%;
    height: 130px;
}
.head_border{
    border-bottom: 2px solid black;
}
.merchandise_name{
    text-align: center;
}
.image_img{
    width: 40%;
    height: 40%;
    margin-left: 30%;

}
.price,.detail,.quantity{
    padding-left: 10px;
    border-left: 2px solid black;
    margin-left: 10%;
    font-size: 20px;
}
.detail_contents{
    width: 80%;
    margin-left: 15%;
    font-size: 20px;
}
.select_quantity{
    margin-left: 10%;
    width: 100px;
}
.cart_btn{
    float: right;
    margin-right: 35%;
}
.cart_btn,.top_btn{
    border: 1px solid black;
    background-color: white;
    padding: 25px 40px;
}
.cart_btn:hover,.top_btn:hover{
    border-radius: 4px;
    background-color: black;
    color: white;
}
.top_btn{
    margin-left: 35%;
    margin-bottom: 50px;
}
@media only screen and (max-width: 850px){
    .header_log{
        margin-left: 12%;
        width: 80%
    }
    .image_img{
        width: 45%;
        height: 45%;
        margin-left: 30%;
    }
    .cart_btn{
        margin-right: 25%;
    }
    .top_btn{
        margin-left: 25%;
    }
}






