.header_log{
    margin-left: 10%;
    height: 75px;
    width: 80%;
}
.image_img{
    width: 55%;
    height: 55%;
    margin-left: 20%;
}
.cart_btn{
    margin-right: 10%;
}
.top_btn{
    margin-left: 10%;
    margin-bottom: 50px;
    padding: 25px 45px;
}
