.head_border,.head_img{
    border-bottom: 2px solid black;
}
.header_name{
    margin-left: 32%;
    height: 130px;
}
.header_log{
    margin-left: 32%;
    height: 130px;
}
.container{
    width: 70%;
    margin-left: 15%;
    border: 1px solid black;
}
.title{
    margin-top: 50px;
    text-align: center;
    font-size: 45px;
}
.subtitle{
    margin-left: 30%;
}
.txt_information{
    margin-left: 30%;
}
.txt{
    margin-left: 25%;
}
.width_p{
    margin-right: 22%;
    margin-left: 30%;
}

.text{
    height: 15px;
    width: 485px;
}
.signup_btn{
    float: right;
    margin-right: 26.5%;
}
.top_btn{
    margin-left: 30%;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    color: black;
}
.login_message,.message,.error{
    text-align: center;
}
.back_login,.login_in{
    margin-left: 47%;
    padding: 10px 25px;
    border: 1px solid black;
    color: black;
    background-color: white;
}
.back_login:hover,.login_in:hover{
    background-color: black;
    color: white;
}
.header_btn{
    background-color: white;
    border: 1px solid white;
}
.number_text{
    height: 15px;
    width: 485px;
}
.search{
    margin-left: 60%;
}
.span{
    font-size: 5px;
    color: red;
}
.width_p{
    margin-right: 22%;
    margin-left: 30%;
}
.link_a{
    text-align: center;
    margin-top: 10px;
}
.search_p{
    text-align: center;
}
.signup_btn,.top_btn{
    background-color: white;
    border: 1px solid black;
    padding: 20px 25px;
}
.search_btn{
    background-color: white;
    border: 1px solid black;
    margin-left: 65%;
    padding: 10px 25px;
}
.signup_btn:hover,.search_btn:hover,.top_btn:hover{
    border-radius: 4px;
    background-color: black;
    color: white;
}
.error_signup{
    color: red;
    margin-left: 55%;
}
.number_input::-webkit-inner-spin-button,
.number_input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}
.number_text::-webkit-inner-spin-button,
.number_text::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}
@media only screen and (max-width: 850px) {
    .header_log{
        margin-left: 12%;
        width: 80%;
    }
    .text {
        width: 305px;
    }
    .search{
        margin-left: 55%;
    }
    .number_text{
        width: 305px;
    }
    .login{
        margin-right: 25%;
    }
    .subtitle{
        margin-left: 20%;
    }
    .txt_information{
        margin-left: 20%;
    }
    .top_btn{
        margin-left: 20%;
    }
    .width_p{
        margin-right: 22%;
        margin-left: 20%;
    }
    .signup_btn{
        margin-right: 27%;
    }
}